              </div>
            </div><!-- row -->
            {% if not edit_mode %}
            <div class="row">
              <div class="col-sm-12">
                <hr/>
              </div>
              <div class="col-sm-6">
                <p class="text-muted small">A <a href="https://moinmo.in/">MoinMoin</a> wiki</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted text-right small">{{ pageinfo }}</p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </article>
    </div>
          
    <script src="{{ static_base }}/js/jquery/jquery.min.js"></script>
    <script src="{{ static_base }}/js/plugins/popper/popper.min.js"></script>
    <script src="{{ static_base }}/js/bootstrap/bootstrap.min.js"></script>
         
    <!-- Add for Alicia theme -->
    <script src="{{ static_base }}/js/plugins/pace/pace.min.js"></script>
    <script src="{{ static_base }}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="{{ static_base }}/js/alicia.js"></script>
  </body>
</html>
